* {
	font-family: arial,helvetica,sans-serif;
	color: #fff;
}

body {
	background-color: #1b1a38;
}

@media (max-width: 479px) {
	body {
		padding: 10px;
	}
}

@media (min-width: 480px) {
	body {
		width: 400px;
		padding: 10px;
	}

}

@media (min-width: 480px) and (max-width: 779px) {
	body {
		padding: 15px;
		margin: 0 auto;
	}
}

@media (min-width: 780px) {
	body {
		padding: 10% 0 10% 25%;
	}
}

h1 {
	padding-bottom: 20px;
}

.ingress {
	font-size: 125%;
	line-height: 150%;
	color: #d9d8ff;
	padding-bottom: 12px;
}

.contact-link {
	display: inline-block;
	padding: 6px 16px 6px 11px;
	border-radius: 6px;
	background-color: #ffdd54;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
